<h1>Follower Users</h1>
<% if @users.empty? %>
<span>ユーザーはいません</span>
<% else %>
<% @users.each do |users| %>
<table>
  <tr>
    <th>image</th>
    <th>name</th>
  </tr>
  <tr>
    <td><%= image_tag users.get_profile_image, size:'50x50' %></td>
    <td><%= users.name %></td>
    <td>フォロー数<%= users.followings.count %></td>
    <td>フォロワー数<%= users.followers.count %></td>
    <td><%= link_to "Show", user_path(users.id) %></td>
  </tr>
</table>
<% end %>
<% end %>