<h1 id="room" data-room="<%= @room.id %>" data-user="<%= current_user.id %>">
<%= @user.name %> さんとのチャット</h1>

<div class="message" style="width: 400px;">
  <div id="chat_all">
   <%= render 'chats/chat_all', chats: @chats %>
  </div>
</div>

<%= form_with model: @chat, data: {remote: true}, local: false do |f| %>
  <%= f.text_field :message %>
  <%= f.hidden_field :room_id %>
<% end %>